body {
  background-color: rgb(26, 25, 25);
}

#img {
  border-radius: 50px;
  text-align: center;
  margin-left: 60%;
}

table {
  width: 100%;
}

th {
  background-color: rgb(14, 13, 13);
  border: 8px solid rgb(14, 13, 13);
  color: white;
  font-size: 14px;
  text-align: center;
}

td {
  background-color: rgb(26, 25, 25);
  border: 1px solid white;
  color: white;
  font-family: Verdana , Arial , Helvetica , sans-serif;
  font-size: 14px;
  max-width: 132px;
  table-layout: fixed;
  text-align: center;
  word-wrap: break-word;
}

#name-filter {
  background-color: rgb(26, 25, 25);
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-left: 40%;
  margin-top: 20px;
  height: 35px;;
  width: 200px;
}

#divFilros {
  display: flex;
  margin-bottom: 30px;
}

#colunaOptions {
  color: white;
  margin-bottom: 20px;
  margin-left: 10px;
}

#opredaroOptions {
  color: white;
  margin-bottom: 20px;
  margin-left: 100px;
}

#inputNumber {
  background-color: rgb(26, 25, 25);
  border-radius: 3px;
  color: white;
  margin-bottom: 20px;
  margin-left: 80px;
  height: 25px;
  width: 14mm;
}

#btnFiltrar {
  background-color: rgb(26, 25, 25);
  border: 1px solid yellow;
  color: yellow;
  border-radius: 5px;
  margin-bottom: 10px;
  right: 30px;
  height: 80px;
  margin-left: 80px;
  width: 80px;
}
