body {
  background-color: rgb(26, 25, 25);
}

table {
  width: 100%;
}

th {
  background-color: black;
  border: 8px solid black;
  color: white;
  font-size: 14px;
  text-align: center;
}

td {
  background-color: rgb(26, 25, 25);
  border: 1px solid white;
  color: white;
  font-family: Verdana , Arial , Helvetica , sans-serif;
  font-size: 14px;
  max-width: 132px;
  table-layout: fixed;
  text-align: center;
  word-wrap: break-word;
}

#name-filter {
  margin-bottom: 30px;
  margin-left: 40%;
  margin-top: 40px;
}
